name: Publish Extension

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci

    - name: Check Secret
      run: |
        if [ -z "${{ secrets.VSCE_PAT }}" ]; then
          echo "Error: VSCE_PAT secret is not set!"
          exit 1
        else
          echo "VSCE_PAT secret is present."
        fi

    - name: Publish to VS Code Marketplace
      run: npx @vscode/vsce publish -p ${{ secrets.VSCE_PAT }}
